<div class="main_container-fluid">
  <div class="header">
      <img class="img-logo" src="./static/images/Beau Soleil 2016 art.jpg"/>
  </div>
  <div class="search_albums-fluid">
    <h2>Search BeauSoleil Albums or Songs:</h2>
    <input ng-model="searchText" placeholder="Song or Album name..." />
  </div>
  <div class="container-fluid">
    <h2>Search Results:</h2>
    <div class="img-thumbnail_search" ng-repeat="album in albums | filter: searchText" ng-if="searchText">
      <div class="col-xs-4 letter-box_search">
        <img ng-src="{{album.image}}" ng-cropper ng-cropper-show="showEvent" width="220" height="220" alt="{{album.name}}" />
        <div class="text_results">
          <h4>{{album.title}}</h4>
          <div class="songs" ng-repeat="songs in album.songs">
                  <li>{{songs}}</li>
          </div>
        </div>
        <div class="button">
        <button><a href="{{album.imgUrl}}">More Info</a></button>
        </div>
      </div>
    </div>
    <hr />
    <h2>All Albums:</h2>
      <div class="img-thumbnail" ng-repeat="album in albums | orderBy: '-year' track by $index" ng-if="$index%4==0">
        <div class="col-xs-4 letter-box" ng-repeat="i in [$index, $index+1, $index+2, $index+3]" ng-if="albums[i]!=null">
          <img ng-src="{{albums[i].image}}" alt="{{albums[i].title}}" ng-cropper ng-cropper-show="showEvent" width="220" height="220">
            <div class="text">
              <h4>{{albums[i].title}}</h4>
              <p>({{albums[i].year}})</p>
          </div>
        </div>
      </div>
    </div>
  <h4>Powered <a href="http://biubird.com">biubird</a> 2016</h4>
</div>
