* {
  background-color: black;
  color: grey;
  font-family: "Tahoma", sans-serif;
  box-sizing: border-box;
}
.main_container-fluid {
  max-width: 1400px;
  margin: auto;
}
.header {
  width: 80%;
  margin: auto;
}
.img-logo {
  width: 100%;
  margin: auto;
}
.search_albums-fluid {
  margin: auto;
  width: 40%;
  flex-wrap: wrap;
}
.text_results {
  margin: auto;
  width: 90%;
}
input {
  font-size: 14px;
  width: 80%;
  height: auto;
  padding: 5px;
  margin: auto;
  margin-bottom: 20px;
}
li {
  text-align: left;
}
.container-fluid {
  width: 90%;
  margin: auto;

}
.img-thumbnail {
  display: flex;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.img-thumbnail_search {
  display: flex;
  width: 90%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.col-xs-4.letter-box{
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.col-xs-4.letter-box_search{
  display: flex;
  padding: 30px;
  flex-wrap: wrap;
}
.text {
  flex: 1;
  text-align: center;
  width: 220px;
}
.text_results {
  flex: 1;
  padding: 20px;
}
button {
  width: auto;
  height: auto;
  background-color: grey;
  border-radius: 8px;
}
a {
  font-size: 14px;
  color: orange;
  text-decoration: none;
  background-color: grey;
}
